{% extends "base.html" %}
{% block content %}
<div id="home-body">
    <div class="text-center">
        <a id="smarter-button" href="{{ url_for('article') }}" class="btn btn-light btn-lg mb-3">
            Summarize randomized Wiki article
        </a>
        <p class="mt-2">Powered by Wikipedia & Gemini 2.5</p>
    </div>
</div>

<script>
document.getElementById("smarter-button").addEventListener("click", function(event) {
  // Disable button
  this.classList.add("disabled");
  this.style.pointerEvents = "none";

  // Make gradient background faster
  const homeBody = document.getElementById("home-body");
  homeBody.style.animationDuration = "2s";
});
</script>
{% endblock %}
