{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-center">
  <div class="alert alert-warning" role="alert">
    Too many requests, slow down, smartass!<br>
    Please wait <span id="countdown">{{ retry_after }}</span> seconds.
  </div>
</div>

<script>
let countdown = document.getElementById('countdown');
let timeLeft = parseInt(countdown.innerText);

let interval = setInterval(() => {
    timeLeft -= 1;
    countdown.innerText = timeLeft;
    if(timeLeft <= 0) clearInterval(interval);
}, 1000);
</script>
{% endblock %}
